body {
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  position: absolute;
  top: 35%;
  left: 47%;
  transform: translate(-50%, -50%);
}

fieldset {
  border-radius: 12px;
  border-style: solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: 250px;
  min-height: 200px;
  height: fit-content;
  padding-top: 28%;
  padding-bottom: 5%;
  padding-right: 20%;
  padding-left: 20%;
}

.form-login {
  text-align: center;
}

h2 {
  color: dodgerblue;
  font-size: 150%;
  margin-top: -20%;
}

.input {
  height: 40px;
  width: 96%;
  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0.6);
  font-size: 100%;
  text-indent: 5%;
  align-items: center;
}

button {
  height: 35px;
  width: 100%;
  background-color: dodgerblue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 100%;
}

button:hover { 
  background-color: rgb(26, 74, 123); /* Mudar a cor de fundo do butão ao passar o mouse. */
  transition: 0.8s; /* Tempo para a mudança de cor */
}

.invalido {
  color: red;
}

#erro {
  color: red;
  font-size: 70%;
}